body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4e6;
  padding: 100px;
  color: #666662;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
}
h2 {
  font-family: "Arial Black", Gadget, sans-serif;
}
h3 {
  font-family: "Arial Black", Gadget, sans-serif;
}
