body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4e6;
  padding: 10px 200px 0px 200px;
  color: #666666;
  text-align: center;
  line-height: 200%
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.box {
  border: 20px;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  border-bottom: 1px solid #666666;
  padding-bottom: 20px;
  letter-spacing: 5px;
}
h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}
h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}
.video-text {
  color: #888888;
  text-align: right;
}
